[Unit]
Description=Caddy web server
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill caddy
ExecStartPre=-/usr/bin/docker rm caddy
ExecStartPre=/usr/bin/docker pull pierrezemb/infra-ovh:latest
ExecStart=/usr/bin/docker run -v /home/core/.caddy:/root/.caddy -p 80:80 --name caddy -p 443:443 pierrezemb/infra-ovh
ExecStop=/usr/bin/docker stop caddy
